<launch>
	<arg name="use_xacro"				default="true"/>
	<arg name="use_joint_state_publisher_gui"	default="true"/>
	<arg name="use_robot_state_publisher"		default="true"/>
	<arg name="use_sim_time" 			default="true"/>
	
	<include file="$(find navvis_description)/launch/display.launch">
		<arg name="use_xacro"				value="$(arg use_xacro)"/>
		<arg name="use_joint_state_publisher_gui" 	value="$(arg use_joint_state_publisher_gui)"/>
		<arg name="use_robot_state_publisher" 	value="$(arg use_robot_state_publisher)"/>
		<arg name="use_sim_time" 			value="$(arg use_sim_time)"/>
		
	</include>
	
	
	
	 <arg name="old_launch" default="false"/>
	 <param unless="$(arg old_launch)" name="robot_description" command="$(find xacro)/xacro $(find navvis_robot)/urdf/robot.xacro" />
</launch>
